.ford-footer-ford {
  padding-top: 25px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #f0f0f0;
}

.ford-footer-lincoln {
  padding-top: 25px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #2B3338;
  border-top: 1px solid #f0f0f0;
}

.footer-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.ford-footer-ford .nav-container {
  border-top: 1px solid #5e5e5e;
  padding: 56px;
  @media (max-width: 768px) {
    padding: 0;
    padding-top: 2em;
    padding-bottom: 1em;
  }
}

.ford-footer-lincoln .nav-container {
  padding-top: 25px;
  padding-bottom: 50px;
}

.nav-padding {
  position: relative;
  display: block;
  padding-left: 35px;
  padding-right: 35px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.footer-img-ford {
  position: absolute;
  display: block;
  float: none;
  right: 42px;
  margin-left: 0;
  top: 0;
  @media (max-width: 768px) {
    position: relative;
    padding-top: 2em;
    left: 0;
    margin-left: 42px;
  }
}

.footer-img-lincoln {
  height: 60px;
  top: 0;
  display: block;
  position: relative;
  right: 0;
  padding-right: 20px;
  margin-left: 0;
  float: left;
}

.top {
  @media (max-width: 768px) {
    display: none;
  }
}

.bottom-nav {
  @media (min-width: 768px) {
    display: none;
  }
  position: relative;
  left: 0;
  margin-top: 1em;
  margin-left: 42px;
}

.navbar-nav {
  display: block;
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  width: auto;
}

.ford-footer-ford .navbar-nav {
  margin-left: 42px;
}

.ford-footer-lincoln .navbar-nav {
  // display: inline-block;
  width: auto;
  max-width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 42px;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  @media (max-width: 768px) {
    float: none;
  }
}

.navbar-nav li {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: auto;
  font-weight: 200;
  font-size: 1.6rem;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  white-space: nowrap;
  @media (max-width: 768px) {
    float: none;
  }
}

.ford-footer-ford .navbar-nav li {
  margin-right: 20px;
}

.ford-footer-ford .lincoln-footer-pipe {
  display: none;
}

.ford-footer-lincoln .lincoln-footer-pipe {
  color: #fff;
  display: block;
  float: left;
  padding-right: 10px;
  font-size: 11px;
  line-height: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}

.ford-footer-ford .navbar-nav a {
  color: #5e5e5e;
}

.ford-footer-lincoln .navbar-nav a {
  display: block;
  margin-right: 10px;
  padding-right: 10px;
  color: #fff;
}

.ford-footer-ford .navbar-nav a:visited {
  color: #5e5e5e;
}

.ford-footer-lincoln .navbar-nav a .text {
  color: #fff;
}

.ford-footer-lincoln .navbar-nav a:hover .text {
  border-bottom: 1px solid #f26147;
}

.ford-footer-lincoln .navbar-nav a:visited .text {
  color: #fff;
}

.ccpa-icon {
  height: 1em;
  vertical-align: middle;
  margin-left: 10px;
}
