@mixin default-container  {
  margin: {
    top: 5px
  };
  padding: 30px 20px 10px;
  text-align: center;
  width: 100vw;
  z-index: 1000;
  font-weight: 200;
}
@mixin default-header {
  font-family: inherit;
  margin-bottom: 5px;
  padding: 0;
  @media only screen and (min-width: 376px){
    font-size: 42px;
  }
  @media screen and (max-width: 375px) {
    font-size: 24px;
  }
}
@mixin default-content {
  font-family: inherit;
  padding: 0 0 10px 0;
  @media only screen and (min-width: 376px){
    font-size: 16px;
  }
  @media screen and (max-width: 375px) {
    font-size: 14px;
  }
}
@mixin default-content-link {
  font-family: inherit;
  text-decoration: underline;
}
@mixin default-privacy-container {
  text-align: left;
  width: 100vw;
  z-index: 1000;
  padding: 50px;
}

@mixin footer-img-ford-media {
  @media screen and (max-width: 375px) {
      float: left;
      margin-top: 10px;
  }
  @media only screen and (min-width: 376px){
      float: right;
  }
}
.container-ford {
  @include default-container;
}
.header-ford {
  @include default-header;
}
.content-ford {
  @include default-content;
}
.contentLink-ford {
  @include default-content-link;
}
.privacyContainer-ford {
  @include default-privacy-container;
}
.privacyContainerLink-ford {
  text-decoration: none;
  padding-right: 30px;
  font-size: 12px;
}
.footer-img-ford {
  @include footer-img-ford-media
}
.container-lincoln {
  @include default-container;
}
.header-lincoln {
  @include default-header;
  text-transform: uppercase;
}
.content-lincoln {
  @include default-content;
}
.contentLink-lincoln {
  @include default-content-link;
  text-decoration: underline;
}
.privacyContainer-lincoln {
  @include default-privacy-container;
  @media only screen and (min-width: 376px){
    padding: 50px;
  }
  @media screen and (max-width: 375px) {
    padding: 20px 50px;
  }
}
.privacyContainerLink-lincoln {
  padding-right: 15px;
  font-size: 12px;
  text-transform: uppercase;
}
.linkDivider-lincoln {
  padding-right: 15px;
}
a:hover {
  text-decoration: none;
}

